In [2]:
pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 793 kB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [3]:
# Packages for EDA 
import pandas as pd 
import numpy as np 
import seaborn as sns 

# Data Preprocessing
from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PowerTransformer

# Modeling
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoCV
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import ElasticNetCV
np.seterr(divide='ignore', invalid='ignore', over='ignore')


# Showing Plots inside notebook
%matplotlib inline  
sns.set(rc={'figure.figsize': [7, 14]}, font_scale=1.2) # Standard figure size for all

In [4]:
df = pd.read_csv("/content/Cleaned_Data.csv")
df.sample(5)

,Unnamed: 0,Unnamed: 0.1,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand
5355,5450,5450,Maruti Wagon,Mumbai,2015,26000,Petrol,Automatic,First,21.50,1197,81.8,5,3.65,Maruti
4872,4962,4962,Mahindra Scorpio,Bangalore,2010,144400,Diesel,Manual,Third,12.05,2179,120.0,8,5.25,Mahindra
5654,5753,5753,Nissan Terrano,Jaipur,2014,60000,Diesel,Manual,First,20.45,1461,83.8,5,6.00,Nissan
1469,1502,1502,Mercedes-Benz New,Mumbai,2011,40000,Petrol,Automatic,Second,11.74,1796,186.0,5,14.50,Mercedes-Benz
218,223,223,Mahindra Verito,Hyderabad,2013,107000,Diesel,Manual,First,21.03,1461,65.0,5,3.70,Mahindra

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5912 entries, 0 to 5911
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5912 non-null   int64
 1   Unnamed: 0.1       5912 non-null   int64
 2   Name               5912 non-null   object
 3   Location           5912 non-null   object
 4   Year               5912 non-null   int64
 5   Kilometers_Driven  5912 non-null   int64
 6   Fuel_Type          5912 non-null   object
 7   Transmission       5912 non-null   object
 8   Owner_Type         5912 non-null   object
 9   Mileage            5912 non-null   float64
 10  Engine             5912 non-null   int64
 11  Power              5912 non-null   float64
 12  Seats              5912 non-null   int64
 13  Price              5912 non-null   float64
 14  Brand              5912 non-null   object
dtypes: float64(3), int64(6), object(6)
memory usage: 692.9+ KB

In [6]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price
count,5912.000000,5912.000000,5912.000000,5.912000e+03,5912.000000,5912.000000,5912.000000,5912.00000,5912.000000
mean,3012.791272,3012.791272,2013.450609,5.837766e+04,18.231778,1622.857070,113.014026,5.28180,9.584919
std,1735.810485,1735.810485,3.188638,9.189848e+04,4.431628,600.877459,53.797403,0.80269,11.233694
min,0.000000,0.000000,1998.000000,1.710000e+02,0.000000,72.000000,34.200000,2.00000,0.440000
25%,1510.750000,1510.750000,2012.000000,3.351275e+04,15.260000,1198.000000,75.000000,5.00000,3.500000
50%,3013.500000,3013.500000,2014.000000,5.286250e+04,18.200000,1493.000000,94.000000,5.00000,5.700000
75%,4515.250000,4515.250000,2016.000000,7.245375e+04,21.100000,1984.000000,138.100000,5.00000,10.012500
max,6018.000000,6018.000000,2019.000000,6.500000e+06,33.540000,5998.000000,560.000000,10.00000,160.000000

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop_duplicates(inplace=True)

In [12]:
df.drop("Price", axis=1, inplace=True)

KeyError: ignored